{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="centerstage" style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
    {% for post in post_list %}
    <div class="post" style="flex: 0 0 auto; margin-right: 20px;">
        <!-- Check if 'post.image' is the correct attribute -->
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" style="max-width: 300px; height: 250px;">
        {% else %}
        <!-- Provide a placeholder image or message if no image is available -->
        <img src="{% static "C:\Users\Veer Savarkar\Pictures\Camera Roll\84924.jpg" %}" class="card-img-top" alt="No Image" style="max-width: 200px; height: 150px;">
        {% endif %}
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments:{{ post.approve_comments.count }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
