{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="centerstage row">
    {% for post in post_list %}
    <div class="post col-md-4">
        <div class="card">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            {% else %}
            <img src="{% static "C:\Users\Veer Savarkar\Pictures\Camera Roll\84924.jpg" %}" class="card-img-top" alt="No Image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                <p class="card-text">Published on: {{ post.published_date|date:"D M Y" }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
    </div><div class="centerstage row">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
