.techfont{
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .postdate{
    text-align: center;
  }
  
  .posttitle{
    font-family: 'Russo One', sans-serif;
    font-size: 3em;
    text-align: center;
  }
  
  .postcontent{
    font-family: 'Montserrat';
    font-size: 1.5em;
  }
  
  .centerstage{
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-comment{
    position: absolute;
    right: 0px;
  }
  
  .bigbrand{
    font-size: 1.5em;
  }
  
  
  /*COLOR CHANGER*/
  /*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
  /* .loader{
    filter:hue-rotate(0deg);
    color: linear-gradient(45deg,#0f8,#08f);
    animation:hue 5000ms infinite linear;
  } */
  
  /* @keyframes spinify {
    0% {
      transform: translate(0px,0px);
  
    }
    33% {
      transform: translate(0px,24px);
      border-radius:100%;
      width:10px;
      height:10px;
  
    }
     66% {
      transform:translate(0px,-16px);
    }
  
     88% {
      transform:translate(0px,4px);
  
    }
    100% {
      transform:translate(0px,0px);
    }
  }
  @keyframes hue{
    0%{filter: hue-rotate(0deg);}
    100%{filter:hue-rotate(360deg);}
  
  } */
/* .centerstage {
  margin-left: auto;
  margin-right: auto;
} */
#h{
  background-image: url('https://example.com/amazing-picture.jpg'); /* Replace with the URL of the amazing picture */
      background-size: cover;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
/* Add these styles to your existing CSS */
/* Add these styles to your existing CSS */
.navbar-nav.align-items-center li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 0.5px;
  height: 20px; /* Adjust as needed */
  background-color: #ccc; /* Color of the vertical line */
  margin: 0 5px; /* Adjust spacing */
}


